# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual Environment
venv/
env/
.venv/

# Data and Models
# *.pth
*.h5
# *.pt
*.ckpt
*.png
*.jpg
*.jpeg
data/
datasets/
data_unified/
data_yolo/
data_real/
yolo_data/
yolo_data_v2/
yolo_data_ready/
yolo_data_ready_v2/
runs/

# Logs and cache
logs/
*.log
*.tmp
*.cache/
.ipynb_checkpoints/

# VSCode settings
.vscode/
